/* *{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #000;
}
body{
    height: 100vh;
}
img{
    width: 100%;
    vertical-align: top;
}
.wrap{
    padding: 20px;
}
.main-container h1{
    text-align: center;
}
.input-group{
    width: 100%;
    margin: auto;
}
input{
    width: 100%;
} */
